/* Pseudo-class for variables */
:root {
    --bg1: #aceae8;
    --bg2: #949494;
    --bg3: #cbb89a;
    --text1: #ffffff;
    --text2: #cb0000;
    --btn1: #c77e00;
    --btn2: #860000;
}

html {
    background-color: var(--bg2);
}

body {
    background-color: var(--bg1);
    color: white;
    /* margin: 3rem 0 0 0; */
    /* Push content down so it's not under the header */
    margin: 0;
    height: 100vh;
}

#login-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    background-color: var(--bg2);
    overflow: hidden;
    transition: height 1s ease-in-out;
}

#login-section {
    position: absolute;
    top: 35vh;
    left: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#login-error-message,
#content-error-message {
    color: var(--text2);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: var(--bg2);
    color: white;
    box-sizing: border-box;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
}

#user-info-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#logout-button {
    background: var(--btn1);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#logout-button:hover {
    background: var(--btn2);
}

#data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7rem 2rem;
    gap: 1rem;

    max-width: 100%;
    overflow-x: auto; 
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 2rem;

    border-style: solid;
    border-width: 1rem;
    border-radius: 2rem;
    border-color: white;

    color: black;
    background-color: var(--bg3);
}

.key-value-title {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    gap: 1rem;
}

#grids-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
}

.key-value-info {
    font-size: medium;
    font-weight:normal;
    display: grid;
    grid-template-columns: max-content auto; /* two columns */
    gap: 5px 15px;
}

#chart-container{
    box-sizing: border-box;
    width: 100%;
}

#chart-info-container{
    width: 100%;
}

#chart {
    width: 100%;
    height: auto;
    max-width: 800px;
    background-color: var(--bg3);
    display: block; /* removes inline spacing */
}

.chart-line {
    stroke: var(--btn2);
    fill: none;
    stroke-width: 2;
}

.data-tick {
    stroke: var(--btn2);
    stroke-width: 2;
}

.tick-label {
    font-size: smaller;
}

.axis-label {
    font-size:medium;
}